<div *ngIf="instructor">
    <h2>{{instructor.firstName}} {{instructor.lastName}} details!</h2>
    <div><label>ID: </label>{{instructor.instructorId}}</div>
    <div>
        <label>First Name: </label>
        <input [(ngModel)]="instructor.firstName" placeholder="First Name" />
    </div>
    <div>
        <label>Last Name: </label>
        <input [(ngModel)]="instructor.lastName" placeholder="Last Name" />
    </div>
    <div>
        <label>Middle Name: </label>
        <input [(ngModel)]="instructor.middleName" placeholder="Middle Name" />
    </div>
    <div>
        <label>Address: </label>
        <input [(ngModel)]="instructor.address" placeholder="Address" />
    </div>
    <div>
        <label>Email: </label>
        <input [(ngModel)]="instructor.email" placeholder="Email" />
    </div>
    <div>
        <label>Phone Number: </label>
        <input [(ngModel)]="instructor.phoneNumber" placeholder="Phone Number" />
    </div>
    <div>
        <label>Mobile Phone Number: </label>
        <input [(ngModel)]="instructor.mobilePhoneNumber" placeholder="Mobile Phone Number" />
    </div>
    <div>
        <label>Emergency Contact Name: </label>
        <input [(ngModel)]="instructor.emergencyContactName" placeholder="Emergency Contact Name" />
    </div>
    <div>
        <label>Emergency Contact Phone: </label>
        <input [(ngModel)]="instructor.emergencyContactPhone" placeholder="Emergency Contact Phone" />
    </div>
    <div>
        <label>Role: </label>
        <input [(ngModel)]="instructor.role" placeholder="Role" />
    </div>
    <div>
        <label>Status: </label>
        <input [(ngModel)]="instructor.status" placeholder="Status" />
    </div>
    <div>
        <label>Employment Start Date: </label>
        <input [(ngModel)]="instructor.employmentStartDate" placeholder="Employment Start Date" />
    </div>
    <div>
        <label>Employment Termination Date: </label>
        <input [(ngModel)]="instructor.employmentTerminationDate" placeholder="Employment Termination Date" />
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>