<div *ngIf="student">
	<div class="ui-g">
		<div class="ui-g-5">
			<p-panel>
				<header>
					<div class="ui-helper-clearfix">
						<span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:2px">{{student.firstName}} {{student.lastName}} : {{student.studentId}}</span>
						<button pButton style="margin-top:0px" label="Edit" (click)="toggleDisabled()"></button>
					</div>
				</header>

				<div><label>First Name: </label>
					<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.firstName" />
				</div>
				<div>
					<label>Last Name: </label>
					<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.lastName" />
				</div>
				<div>
					<label>Date of Birth: </label>
					<p-inputMask mask="9999/99/99" [disabled]="disabled" [(ngModel)]="student.dateOfBirth" placeholder="9999/99/99" slotChar="yyyy/mm/dd"></p-inputMask>
				</div>
				<div>
					<label>Gender: </label>
					<p-dropdown [options]="gender" [disabled]="disabled" [(ngModel)]="student.gender"></p-dropdown>
				</div>
				<div>
					<label>Grade: </label>
					<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.currentGrade" />
				</div>
				<div>
					<label>Status: </label>
					<p-dropdown [options]="status" [disabled]="disabled" [(ngModel)]="student.status"></p-dropdown>
				</div>
				<div>
					<label>Description: </label>
					<textarea rows="5" cols="35" pInputTextarea [disabled]="disabled" [(ngModel)]="student.description"></textarea>
				</div>

				<div>
					<button type="button" (click)="goBack()" pButton label="Back"></button>
					<button type="button" (click)="save()" pButton label="Save"></button>
					<button type="button" (click)="delete()" pButton label="Delete"></button>
				</div>
			</p-panel>
		</div>

		<div class="ui-g-7">
			<p-panel>
				<header>
					Attendence Log Component
				</header>
				<p-dataTable [value]="attendances">
					<p-column field="attendanceDate" header="Attendance Logs" [sortable]="true"></p-column>
				</p-dataTable>
			</p-panel>
		</div>

		<div class="ui-g-12" *ngIf="sections">
			<p-fieldset legend="Learning Plans">
				<button type="button" pButton (click)="showDialogToNewLearningPlan()" label="New Learning Plan"></button>
				<div *ngIf="sections">
					<table *ngFor="let section of sections">
						<ul>
							<a href="http://localhost:5000/api/content/sections/id/{{section.sectionId}}/pdf">{{section.title}}</a>
						</ul>
					</table>
				</div>
				<!--<p-dataTable #dt [value]="sections" [responsive]="true" selectionMode="single" [(selection)]="selectedSection" (onRowSelect)="onRowSelect($event)">
						<p-column field="title" header="Title"></p-column>
						<p-column field="sectionId" header="ID"></p-column>
					</p-dataTable>-->
			</p-fieldset>
		</div>

		<p-dialog header="New Learning Plan" [(visible)]="displayDialog" showEffect="fade" [width]="600" [modal]="true" [responsive]="true">

			<h3 class="first">Problem 1:</h3>
			<div class="ui-g" style="margin-bottom:10px">
				<div class="ui-g-2">
					<p-radioButton name="prob1" value="0" label="0" [(ngModel)]="problem1"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob1" value="1" label="1/4" [(ngModel)]="problem1"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob1" value="2" label="1/2" [(ngModel)]="problem1"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob1" value="3" label="3/4" [(ngModel)]="problem1"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob1" value="4" label="1" [(ngModel)]="problem1"></p-radioButton>
				</div>
			</div>

			<h3 class="first">Problem 2:</h3>
			<div class="ui-g" style="margin-bottom:10px">
				<div class="ui-g-2">
					<p-radioButton name="prob2" value="0" label="0" [(ngModel)]="problem2"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob2" value="1" label="1/4" [(ngModel)]="problem2"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob2" value="2" label="1/2" [(ngModel)]="problem2"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob2" value="3" label="3/4" [(ngModel)]="problem2"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob2" value="4" label="1" [(ngModel)]="problem2"></p-radioButton>
				</div>
			</div>

			<h3 class="first">Problem 3:</h3>
			<div class="ui-g" style="margin-bottom:10px">
				<div class="ui-g-2">
					<p-radioButton name="prob3" value="0" label="0" [(ngModel)]="problem3"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob3" value="1" label="1/4" [(ngModel)]="problem3"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob3" value="2" label="1/2" [(ngModel)]="problem3"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob3" value="3" label="3/4" [(ngModel)]="problem3"></p-radioButton>
				</div>
				<div class="ui-g-2">
					<p-radioButton name="prob3" value="4" label="1" [(ngModel)]="problem3"></p-radioButton>
				</div>
			</div>


			<footer>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton (click)="cancel()" label="Cancel"></button>
					<button type="button" pButton (click)="addLP()" label="Add"></button>
				</div>
			</footer>
		</p-dialog>

	</div>
</div>