<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

	<div class="uk-grid">
		<div class="uk-width-1-1">
			<h1>Instructor List</h1>
		</div>
	</div>

	<div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
		
		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<!--<th>Middle Name</th>-->
					<!--<th>Address</th>-->
					<th>Email</th>
					<th>Phone Number</th>
					<th>Mobile Phone Number</th>
					<!--<th>Emergency Contact Name:</th>-->
					<!--<th>Emergency Contact Phone:</th>-->
					<!--<th>Role</th>-->
					<!--<th>Status</th>-->
					<!--<th>Employment Start Date:</th>-->
					<!--<th>Employment Termination Date:</th>-->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let instructor of instructors">
					<td>{{instructor.instructorId}}</td>
					<td>{{instructor.firstName}}</td>
					<td>{{instructor.lastName}}</td>
					<!--<td>{{instructor.middleName}}</td>-->
					<!--<td>{{instructor.address}}</td>-->
					<td>{{instructor.email}}</td>
					<td>{{instructor.phoneNumber}}</td>
					<td>{{instructor.mobilePhoneNumber}}</td>
					<!--<td>{{instructor.emergencyContactName}}</td>-->
					<!--<td>{{instructor.emergencyContactPhone}}</td>-->
					<!--<td>{{instructor.role}}</td>-->
					<!--<td>{{instructor.status}}</td>-->
					<!--<td>{{instructor.employmentStartDate}}</td>-->
					<!--<td>{{instructor.employmentTerminationDate}}</td>-->
				</tr>
			</tbody>
		</table>

	</div>

</div>