<div class="instructors"> Hello InstructorsComponent! </div>
<div>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<!--<th>Middle Name</th>-->
				<!--<th>Address</th>-->
				<th>Email</th>
				<th>Phone Number</th>
				<th>Mobile Phone Number</th>
				<!--<th>Emergency Contact Name:</th>-->
				<!--<th>Emergency Contact Phone:</th>-->
				<!--<th>Role</th>-->
				<!--<th>Status</th>-->
				<!--<th>Employment Start Date:</th>-->
				<!--<th>Employment Termination Date:</th>-->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let instructor of instructors">
				<td>{{instructor.instructorId}}</td>
				<td>{{instructor.firstName}}</td>
				<td>{{instructor.lastName}}</td>
				<!--<td>{{instructor.middleName}}</td>-->
				<!--<td>{{instructor.address}}</td>-->
				<td>{{instructor.email}}</td>
				<td>{{instructor.phoneNumber}}</td>
				<td>{{instructor.mobilePhoneNumber}}</td>
				<!--<td>{{instructor.emergencyContactName}}</td>-->
				<!--<td>{{instructor.emergencyContactPhone}}</td>-->
				<!--<td>{{instructor.role}}</td>-->
				<!--<td>{{instructor.status}}</td>-->
				<!--<td>{{instructor.employmentStartDate}}</td>-->
				<!--<td>{{instructor.employmentTerminationDate}}</td>-->
			</tr>
            <br />
            Gaurdian Form

            <form>
                First name:<br>
                <input type="text" name="Ifirstname"><br>
                Last name:<br>
                <input type="text" name="Ilastname"><br>
                Address:<br>
                <input type="text" name="Iaddress" /><br>
                Email
                <input type="email" name="Iemail"><br>
                Phone Number<br>
                <input type="number" name="Iphonenumber"><br>
                Cell Number <br>
                <input type="number" name="Icellnumber"><br>
                Role(0 - Instructor, 1 - Lead Instructor, 2 - Center Manager, 3 - Center Director)<br>
                <input type="number" name="Irole"> <br>
                Emergency Contact Name:<br>
                <input type="text" name="Iemergencycontactname"><br>
                Emergency Contact Number:<br>
                <input type="number" name="Iemergencycontactnumber"><br>
                Date of Employment:<br>
                <input type="date" name="Idateofemployment"><br>
                Date of Termination:<br>
                <input type="date" name="Idateoftermination"><br>
                Date of Background Check:<br>
                <input type="date" name="Idateofbackgroundcheck"><br>                
                Description Info:<br>
                <input type="text" name="DescriptionInfo"><br>
                System Info:<br>
                <input type="text" name="SystemInfo"><br>
                Attachments:<br>
                <input type="file" name="attachedFile"><br>
            </form>
            <br>
            <button> Add Instructor </button>
		</tbody>
	</table>
