<div class="ui-g">

	<div class="ui-g-5">
		<!--Updates Panel-->
		<div class="ui-g-12">
			<p-fieldset legend="Updates">
				<p>Bob Ross's account is overdue for payment</p>
				<p>New transfer student missing Guardian account</p>
			</p-fieldset>
		</div>

		<!--Links Panel-->
		<div class="ui-g-12">
			<p-fieldset legend="Links">
				<p><a href="">Forums</a></p>
				<p><a href="">News</a></p>
			</p-fieldset>
		</div>
	</div>

	<div class="ui-g-7">
		<!--Calendar Panel-->
		<p-fieldset legend="Calendar">
			<iframe src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America/Chicago"
				style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</p-fieldset>
	</div>

</div>