<div class="ui-g">

	<div class="ui-g-3">
		<!--Updates Panel-->
		<div class="ui-g-12">
			<p-fieldset legend="Updates">
				<p>Bob Ross's account is overdue for payment!</p>
				<p>Michael G's account is due for payment!</p>
				<p>Pay Day is coming!</p>
				<p>New transfer student missing Guardian account!</p>
				<p>New transfer student missing Guardian account!</p>
				<p>New transfer student missing Guardian account!</p>
				<p>New transfer student missing Guardian account!</p>
				<p>New transfer student missing Guardian account!</p>
				<p>New transfer student missing Guardian account!</p>
			</p-fieldset>
		</div>

		<!--Links Panel-->
		<div class="ui-g-12">
			<p-fieldset legend="Links">
				<p><a href="">Forums</a></p>
				<p><a href="">News</a></p>
				<p><a href="">More Links</a></p>
				<p><a href="">Support</a></p>
				<p><a href="">Company</a></p>
				<p><a href="">ETC</a></p>
			</p-fieldset>
		</div>
	</div>

	<div class="ui-g-5">
		<!--Calendar Panel-->
		<p-fieldset legend="Calendar">
			<iframe src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America/Chicago"
				style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</p-fieldset>
	</div>

</div>