<!-- Main Title page -->
<div class="uk-text-center">
	<h1>A Plus Curator</h1>
</div>

<!--Tabs-->
<div>
	<nav>
		<ul class="uk-tab">
			<li><a routerLink="/home">Home</a></li>
			<li><a routerLink="/attendence">Attendence</a></li>
			<li><a routerLink="/students">Students</a></li>
			<li><a routerLink="/instructor">Instructors</a></li>
			<li><a routerLink="/lessons">Learning Plans</a></li>
			<li><a routerLink="/accounts">Accounts</a></li>
		</ul>
	</nav>
</div>

<!-- Routing View -->
<div>
	<router-outlet></router-outlet>
</div>