<!-- Main Title page -->
<div>
    <h1>{{title}}</h1>
</div>

<!-- Navigator -->
<div>
    <nav>
        <div><a routerLink="/welcome">Home</a></div>
        <!--<div><a routerLink="/attendence">Attendence</a></div>
        <div><a routerLink="/students">Students</a></div>-->
        <div><a routerLink="/instructors">Instructors</a></div>
        <!--<div><a routerLink="/lesson">Learning Plans</a></div>
        <div><a routerLink="/accounts">Accounts</a></div>-->
    </nav>
</div>

<!-- Routing View -->
<div>
    <router-outlet></router-outlet>
</div>