<h2>{{title}}</h2>
<div>
    <label>Instructor name:</label> <input #instructorName />
    <button (click)="add(instructorName.value); instructorName.value=''">
    Add
  </button>
</div>
<ul class="instructors">
    <li *ngFor="let instructor of instructors" (click)="onSelect(instructor)" [class.selected]="instructor === selectedInstructor">
        <span class="badge">{{instructor.instructorId}}</span>
        <span>{{instructor.firstName}} {{instructor.lastName}}</span>
        <button class="delete" (click)="delete(instructor); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedInstructor">
    <h2>
        {{selectedInstructor.firstName | uppercase}} {{selectedInstructor.lastName | uppercase}} is my instructor
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>