<p-fieldset legend="Learning Plans">
    <h3>Current</h3>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Assessment 4 - 66%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 3 post - 90%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 3 pre - 77%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
    </p-accordion>

    <h3>Completed</h3>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Assessment 1 pre - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 1 - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 1 post - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 2 pre - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 2 - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 2 post - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 3 - 100%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
    </p-accordion>

    <h3>Not Started</h3>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Assessment 5 - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 5 post - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 5 pre - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 6 - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 6 post - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 6 pre - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 7 - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 7 post - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 7 pre - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 8 - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 8 post - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 8 pre - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 9 - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 9 post - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 9 pre - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 10 - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 10 post - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
        <p-accordionTab header="Assessment 10 pre - 0%">
            <table>
                <tr> Rounding decimal numbers - PK 3210 </tr>
                <tr> Multiplication by thousands - PK 3321 </tr>
                <tr> Division of thousands - PK 3331 </tr>
                <tr> Number Systems - PK 3122 </tr>
                <tr> Fractional parts - PK 2122 </tr>
                <tr> Subtraction review - PK 3333 </tr>
            </table>
        </p-accordionTab>
    </p-accordion>

</p-fieldset>