<div *ngIf="student">
	<p-panel>

		<header>
			<div class="ui-helper-clearfix">
				<span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:2px">{{student.firstName}} {{student.lastName}} : {{student.studentId}}</span>
				<button pButton style="margin-top:0px" label="Edit" (click)="toggleDisabled()"></button>
			</div>
		</header>

		<div><label>First Name: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.firstName" />
		</div>
		<div>
			<label>Last Name: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.lastName" />
		</div>
		<div>
			<label>Date of Birth: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.dateOfBirth" />
		</div>
		<div>
			<label>Gender: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.gender" />
		</div>
		<div>
			<label>Grade: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.currentGrade" />
		</div>
		<div>
			<label>Status: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.status" />
		</div>
		<div>
			<label>Description: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.description" />
		</div>
		<div>
			<label>System Info: </label>
			<input type="text" pInputText [disabled]="disabled" [(ngModel)]="student.systemInfo" />
		</div>

	</p-panel>

	<div>
		<button type="button" (click)="goBack()" pButton label="Back"></button>
		<button type="button" (click)="save()" pButton label="Save"></button>
	</div>

</div>