<div>
	<!--<div>
		<label>Student name:</label> <input #studentName />
		<button (click)="add(studentName.value); studentName.value=''">Add</button>
	</div>-->

	<p-fieldset legend="Students">

		<!--Testing NGPrime-->
		<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
			<i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
			<input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
		</div>
		<p-dataTable [value]="students" [rows]="20" [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,20,50]" [globalFilter]="gb"
			selectionMode="single" [(selection)]="selectedStudent" resizableColumns="true" reorderableColumns="true" (onRowSelect)="onRowSelect($event)">
			<header>List of Students</header>
			<p-column field="firstName" header="First Name" [filter]="true" filterMatchMode="contains"></p-column>
			<!--<p-column field="middleName" header="Middle Name"></p-column>-->
			<p-column field="lastName" header="Last Name" [filter]="true" filterMatchMode="contains"></p-column>
			<!--<p-column field="address" header="Address"></p-column>-->
			<!--<p-column field="email" header="Email"></p-column>-->
			<!--<p-column field="phoneNumber" header="Phone"></p-column>-->
			<!--<p-column field="mobilePhoneNumber" header="Mobile"></p-column>-->
			<!--<p-column field="emergencyContactName" header="EC Name"></p-column>-->
			<!--<p-column field="emergencyContactPhone" header="EC Phone"></p-column>-->
			<p-column field="currentGrade" header="Grade" [filter]="true" filterMatchMode="contains"></p-column>
			<p-column field="status" header="Status" [filter]="true" filterMatchMode="contains"></p-column>
			<footer>
				<div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton style="float:left" (click)="showDialogToAdd()" label="Add"></button></div>
			</footer>

		</p-dataTable>

		<p-dialog header="Student Details" [(visible)]="displayDialog" showEffect="fade" [modal]="true">
			<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="student">
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="id">ID</label></div>
					<div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="student.studentId" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="firstName">First Name</label></div>
					<div class="ui-grid-col-8"><input pInputText id="first name" [(ngModel)]="student.firstName" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="middleName">Middle Name</label></div>
					<div class="ui-grid-col-8"><input pInputText id="first name" [(ngModel)]="student.middleName" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="lastName">Last Name</label></div>
					<div class="ui-grid-col-8"><input pInputText id="last name" [(ngModel)]="student.lastName" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="address">Address</label></div>
					<div class="ui-grid-col-8"><input pInputText id="address" [(ngModel)]="student.address" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="email">Email</label></div>
					<div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="student.email" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="phoneNumber">Phone</label></div>
					<div class="ui-grid-col-8"><input pInputText id="phone number" [(ngModel)]="student.phoneNumber" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="mobilePhoneNumber">Mobile</label></div>
					<div class="ui-grid-col-8"><input pInputText id="mobile" [(ngModel)]="student.mobilePhoneNumber" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="emergencyContactName">EC Name</label></div>
					<div class="ui-grid-col-8"><input pInputText id="last name" [(ngModel)]="student.emergencyContactName" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="emergencyContactPhone">EC Phone</label></div>
					<div class="ui-grid-col-8"><input pInputText id="last name" [(ngModel)]="student.emergencyContactPhone" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="currentGrade">Grade</label></div>
					<div class="ui-grid-col-8"><input pInputText id="grade" [(ngModel)]="student.currentGrade" /></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"><label for="status">Status</label></div>
					<div class="ui-grid-col-8"><input pInputText id="status" [(ngModel)]="student.status" /></div>
				</div>
			</div>
			<footer>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<button type="button" pButton (click)="delete()" label="Delete"></button>
					<button type="button" pButton (click)="save()" label="Save"></button>
				</div>
			</footer>
		</p-dialog>

	</p-fieldset>

</div>