<div>
	<!--<div>
		<label>Student name:</label> <input #studentName />
		<button (click)="add(studentName.value); studentName.value=''">Add</button>
	</div>-->

	<!--Testing NGPrime-->
	<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
		<i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
		<input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
	</div>
	<p-dataTable [value]="students" [rows]="20" [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,20,50]" [globalFilter]="gb"
		selectionMode="single" [(selection)]="selectedStudent">
		<header>List of Students</header>
		<p-column field="firstName" header="First Name"></p-column>
		<!--<p-column field="middleName" header="Middle Name"></p-column>-->
		<p-column field="lastName" header="Last Name"></p-column>
		<!--<p-column field="address" header="Address"></p-column>-->
		<!--<p-column field="email" header="Email"></p-column>-->
		<!--<p-column field="phoneNumber" header="Phone"></p-column>-->
		<!--<p-column field="mobilePhoneNumber" header="Mobile"></p-column>-->
		<!--<p-column field="emergencyContactName" header="EC Name"></p-column>-->
		<!--<p-column field="emergencyContactPhone" header="EC Phone"></p-column>-->
		<p-column field="currentGrade" header="Grade"></p-column>
		<p-column field="status" header="Status"></p-column>
	</p-dataTable>

	<div *ngIf="selectedStudent">
		<h2> {{selectedStudent.firstName | uppercase}} {{selectedStudent.lastName | uppercase}} is my student </h2>
		<button pButton type label="View Details" (click)="gotoDetail()"></button>
		<button pButton type label="Delete" (click)="delete(selectedStudent); $event.stopPropagation()"></button>
	</div>

</div>