<div class="students"> Hello Students! </div>

<div>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Nme</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Mobile Phone Number</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let student of students">
				<td>{{student.studentID}}</td>
				<td>{{student.firstName}}</td>
				<td>{{student.lastName}}</td>
				<td>{{student.email}}</td>
				<td>{{student.address}}</td>


			</tr>
			<button> Add Student </button>
		</tbody>
	</table>
</div>

<!--add table and buttons and etc-->
<!-- *ngFor="let item of list" is useful for loop to replicate data-->
<!--item = students-->
<!--list = students-->